__pycache__/
*.py[cod]
*$py.class
*.so

# Database
openhac.db

# Logs and outputs
*.log
*.net
*.csv
*.kicad_pcb
*.erc
.skidl/

# Ignore test results and local traces
out.log
build.log
skidl_REPL.log
build.erc
skidl_REPL.erc

# Catalog cache
.cache/

# Local Test Scripts
test_simulate.py
test_complex.py
smart_sensor_vx.*
complex_compile_results.log
test_massive.py
massive_led_matrix.*
massive_compile.log
